*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/codeStyles/codeStyleConfig.xml
app/google-services.json
*.apk
/TEST
test_key.jks
app/release/output.json

app/src/androidTest
app/src/test
